* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(67,67,179,1) 45%, rgba(0,212,255,1) 100%);
  color: white;
}
footer {
  background: white;
  color: black;
}

.error {
  padding: 20px;
  background-color: #f44336;
  color: white;
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.search {
  padding: 30px;
  text-align: center;
}

.input-form {
  margin-top: 50px;
}

.searchInput {
  outline: 0;
  border-width: 0 0 2px;
  border-color: white;
  color: white;
  background: none;
  font-size: 20px;
}

.searchButton {
  outline: 0;
  border-width: 0;
  color: white;
  background: none;
  font-size: 25px;
  cursor: pointer;
}

.output {
  margin-top: 30px;
  text-align: center;
}

.icon {
  width: 200px;
}

.temps {
  padding:  40px;
}

.weatherC {
  font-size: 45px;
  padding: 10px

}

.weatherF {
  display:none;
  font-size: 45px;
  padding: 10px

}

.description {
  padding: 20px;
  text-transform: capitalize;
  font-size: 25px;
}


/*  slide switch style  */

.switch {
  position: relative;
  display: none;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  color:black;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "F°";
  color:black;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */|
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.status {
  padding-bottom: 50px;
}
